h1,h2,h3 {
    line-height: 40px;
    font-weight: normal
}

article,
div.section,
header,
div.footer,
nav,
li {
    position: relative
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: .6px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

p {
    line-height: 1.5
}

h1 {
    line-height: 1
}

article,
aside,
details,
figcaption,
figure,
div.footer,
header,
hgroup,
nav,
div.section {
    display: block
}

a:link,
a:visited {
    color: #005daa
}

a:hover,
a:active {
    color: #005daa;
    text-decoration: underline
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

a:hover,
a:active {
    outline: 0
}

.more-link {
    font-size: .875em;
    margin-top: 1.5em;
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
}

.more-link:link,
.more-link:visited {
    color: #f0bf00;
    text-transform: uppercase
}

.row {
    margin-left: -16px;
    *zoom: 1
}

.row:before,
.row:after {
    display: table;
    line-height: 0;
    content: ""
}

.row:after {
    clear: both
}

.body {
    padding-top: 88px
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto
}

.container:before,
.container:after {
    display: table;
    line-height: 0;
    content: ""
}

.container:after {
    clear: both
}

.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none
}

.nav>li>a {
    display: block
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: #eee
}

.nav>.disabled>a {
    color: #999
}

.nav>.disabled>a:hover,
.nav>.disabled>a:focus {
    text-decoration: none;
    cursor: default;
    background-color: transparent
}

.navbar {
    *position: relative;
    *z-index: 2;
    overflow: visible
}

.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #fafafa;
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    *
}

.navbar-inner:before,
.navbar-inner:after {
    display: table;
    line-height: 0;
    content: ""
}

.navbar-inner:after {
    clear: both
}

.nav-collapse.collapse {
    height: auto;
    overflow: visible
}

.navbar .brand:hover,
.navbar .brand:focus {
    text-decoration: none
}

.navbar .btn {
    margin-top: 5px
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0
}

.navbar-fixed-top .navbar-inner {
    border-width: 0 0 1px
}

.navbar-fixed-top .navbar-inner {
    padding-right: 0;
    padding-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.navbar-fixed-top {
    top: 0
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1)
}

.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0
}

.navbar .nav.pull-right {
    float: right;
    margin-right: 0
}

.navbar .nav>li {
    float: left
}

.navbar .nav>li>a {
    float: none;
    padding: 10px 15px 10px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff
}

.navbar .nav .dropdown-toggle .caret {
    margin-top: 8px
}

.navbar .nav>li>a:focus,
.navbar .nav>li>a:hover {
    color: #333;
    text-decoration: none;
    background-color: transparent
}

.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    color: #555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125)
}

.navbar .btn-navbar .icon-bar {
    display: block;
    width: .36rem;
    height: .04rem;
    background-color: #fff;
    -webkit-border-radius: .02rem;
    -moz-border-radius: .02rem;
    border-radius: .02rem;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
}

.navbar .btn-navbar:active .icon-bar {
    background-color: #00a8ff
}

.btn-navbar .icon-bar+.icon-bar {
    margin-top: .06rem
}

.navbar-inverse .nav>li>a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-inverse {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    *background-color: #222;
    background-repeat: repeat-x;
    background-image: linear-gradient(to bottom, #444, #222);
    border-left-color: #222;
    border-right-color: #222;
    border-top-color: #222;
    border-bottom-color: #000
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #fff;
    background-color: #222;
    *background-color: #151515
}

.btn-inverse:active,
.btn-inverse.active {
    background-color: #080808 \9
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav>li>a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav>li>a:focus {
    color: #fff
}

.navbar-inverse .nav>li>a:focus,
.navbar-inverse .nav>li>a:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .nav .active>a,
.navbar-inverse .nav .active>a:hover,
.navbar-inverse .nav .active>a:focus {
    color: #fff;
    background-color: #111
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    *background-color: #3d3d3d
}

.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
    background-color: #000 \9
}

.navbar .brand {
    margin-left: 0;
    padding: 0;
    margin: 0
}

.navbar .brand a {
    padding: 0;
    color: #fff;
    font-size: 1.75em;
    margin-left: 0;
    font-weight: normal;
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
}

.navbar .brand a:hover {
    text-decoration: none;
    color: #f0bf00;
    transition: color .15s linear;
    -webkit-transition: color .15s linear;
    -moz-transition: color .15s linear
}

.navbar .brand a:focus {
    outline: 0
}

.navbar-inner {
    min-height: 4.75em
}

.navbar-inverse .navbar-inner {
    background: #282828;
    height: 88px
}

.navbar-wrapper {
    overflow: hidden
}

ul#menu-main>li>a {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #bfbfbf;
    border-bottom: 3px solid #282828;
    padding: 37px 20px 28px 20px;
    height: 20px;
    text-align: center
}

ul#menu-main>li>a:hover {
    color: #fff
}

ul#menu-main>li>a.active {
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #00a8ff
}

.navbar-inverse .brand,
.navbar-inverse .nav>li>a {
    text-shadow: none
}

ul.icon {
    font-size: 54px;
    margin: 1em 0 .5em 0
}

ul.icon li {
    display: inline-block;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

ul.icon li:hover {
    opacity: .7
}

div.single-page h1 {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 24px;
    padding: 40px 0 18px 0;
    text-align: left
}

div.single-page h1 .title-decoration {
    display: inline-block;
    width: 3px;
    height: 21px;
    background-color: #646464;
    margin-right: 12px;
    font-size: 0;
    vertical-align: middle
}

.col3 {
    padding: 40px;
    background-color: #fff;
    display: inline-block;
    width: 309px
}

.col2 {
    padding: 40px;
    background-color: #fff;
    display: inline-block;
    width: 512px
}

.product {
    position: relative;
    margin-left: 16px;
    margin-bottom: 16px;
    float: left
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.product h2 {
    color: #3c4049;
    line-height: 1.2;
    margin-top: 18px;
    margin-bottom: 5px
}

.product p {
    color: #787878
}

.col3.product h2 {
    text-align: center;
    font-size: 20px
}

.col3.product p {
    text-align: center;
    font-size: 14px
}

.col2.product p {
    text-align: left;
    font-size: 16px
}

.col2.product h2 {
    text-align: left;
    font-size: 24px
}

.mask2,
.inside {
    z-index: 1
}

.mask2 img {
    margin: 0 auto;
    width: 309px;
    display: block
}

.mask2 img:hover {
    -ms-filter: "alpha(opacity=99)";
    filter: alpha(opacity=99);
    opacity: 1
}

.ProductLink {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1
}

.col2.product .inside {
    margin-top: 30px
}

.ProductLink a {
    display: block;
    position: absolute;
    width: 100%;
    height: 328px;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0);
    -ms-filter: "alpha(opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer
}

.col2.product .inside {
    float: left;
    width: 190px
}

.col2.product .mask2 {
    float: right
}

div#ywys {
    padding-bottom: 20px
}

div#ywys h2 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 7px;
    text-align: center;
    line-height: 24px
}

div#ywys p {
    color: #787878;
    font-size: 14px;
    text-align: center;
    line-height: 24px
}

.icon_ywys {
    width: 80px;
    height: 80px;
    margin: auto;
    padding: 10px 15px 20px 15px
}

.icon_ywys img {
    width: 80px;
    height: 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 6px
}

div#ywys .span3 {
    background: #fff;
    padding: 67px 0;
    margin-left: 16px;
    width: 288px;
    float: left;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

div#ywys .span3:hover {
    background: #fff;
    box-shadow: 1px 1px 6px #c1bac1
}

article.post {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1)
}

article .inside {
    margin: 18px 24px 24px;
    padding-top: 1em
}

.cont_box {
    background-color: #fff;
    font-size: 14px;
    color: #888;
    padding: 40px
}

.span6 {
    margin: 0 50px 0 0;
    display: block;
    float: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.inputbar>div {
    float: left
}

.calculation_results>div {
    float: left
}

.calculation_results .item1 {
    margin-right: 50px
}

.calculation_results .item1 b {
    margin: 0 5px
}

.calculation_results>div>b {
    font-size: 18px;
    color: #005daa
}

input[type=text] {
    background: #fff;
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    border: 1px solid #ccc;
    text-align: left;
    vertical-align: middle;
    height: 32px;
    width: 176px
}

input[type=text]:focus {
    background: #fff;
    color: #313131;
    transition: background .25 ease-in;
    -moz-transition: background .25 ease-in;
    -webkit-transition: background .25 ease-in
}

#theme-form input[type=text] {
    height: 3.25em
}

input[type=submit],
input[type=button] {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #fff;
    width: 118px;
    height: 34px;
    text-shadow: none;
    text-align: center;
    font-size: 14px;
    padding: 0;
    letter-spacing: .05em;
    margin: 0 0 20px 0;
    display: block;
    border: 0;
    text-transform: none;
    background: transparent;
    background: #005daa !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

input[type=submit]:hover,
input[type=submit]:active {
    background: #00457d !important
}

.inputbar label {
    display: inline-block;
    vertical-align: middle
}

.inputbar .unit {
    display: inline-block;
    vertical-align: middle
}

div.cform-response-output {
    max-width: 60%;
    text-align: center;
    margin-left: 40% !important;
    margin-top: .5em !important;
    padding: .5em !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

.cform-not-valid-tip {
    color: #888;
    border: 1px dotted #ad3729 !important;
    width: 100% !important;
    left: 0 !important;
    padding: .5em !important;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
}

#adv {
    width: 1200px;
    margin: 40px auto 0 auto
}

#map-wrapper {
    margin-top: 20px
}

.footer-wrapper {
    background-color: #fff;
    padding: 10px 0 0 0;
    margin: 20px 0 0
}

div.footer {
    text-align: center;
    color: #828282;
    font-size: 12px
}

div.footer .ORcode_wrapper {
    position: relative;
    padding-bottom: 20px
}

div.footer .ORcode_wrapper .ORcode_img {
    position: absolute;
    width: 115px;
    height: 115px;
    right: 0
}

div.footer .ORcode_wrapper .ORcode_img img {
    width: 115px;
    height: 115px
}

div.footer p {
    line-height: 40px
}

div.footer p i.rightSlash {
    font-style: normal
}

div.footer p em {
    font-style: normal
}

div.footer p b {
    font-size: 28px;
    color: #f19536;
    margin-right: 55px
}

div.footer p a:link {
    color: #828282;
    text-decoration: none
}

div.footer p a:hover {
    color: #005daa;
    text-decoration: underline
}

div.footer p i.interval_line {
    border-right: 1px solid #e0e0e0;
    height: 8px;
    width: 0;
    display: inline-block;
    margin: 0 15px
}

div.footer hr {
    margin: 10px 0 0 0;
    color: #e0e0e0;
    border-width: 1px 0 0 0;
    border-color: #e0e0e0;
    border-style: solid;
    height: 0;
    font-size: 0
}

div.footer p.copyright {
    line-height: 68px
}

.offset_r2 {
    margin-right: 96px
}

.btn {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #fff;
    width: 185px;
    height: 20px;
    text-shadow: none;
    font-size: 1.3125em;
    padding: 1em .5em;
    letter-spacing: .05em;
    margin: 4.5em auto 0;
    display: block;
    border: 0;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    zoom: 1;
    text-transform: none;
    background: transparent !important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.btn:link,
.btn:visited {
    color: #fff
}

.btn:hover {
    background: #312a1e !important
}

.navbar-inverse .btn-navbar {
    width: auto;
    height: auto;
    color: #fff;
    display: none
}

.navbar .brand {
    padding: 0 0 0 30px;
    color: #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    float: left;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200
}

.navbar .brand img {
    height: 88px;
    width: 236px
}

@-ms-viewport {
    width: device-width
}

.hidden {
    display: none;
    visibility: hidden
}

.inner_box {
    padding: 30px;
    background-color: #fff
}

.qywh {
    white-space: nowrap;
    font-size: 0
}

.qywh li {
    display: inline-block;
    width: 277px;
    height: auto;
    font-size: 12px
}

.qywh li:not(:last-child) {
    margin-right: 10px
}

.qywh li img {
    width: 277px;
    height: auto
}

.articlewrap {
    padding-top: 60px
}

#leftmenu {
    float: left;
    position: relative
}

.gsjs {
    position: absolute;
    background-color: #fff
}

.fixedmenu .gsjs {
    position: fixed;
    top: 113px
}

.gsjs li a {
    width: 212px;
    height: 44px;
    line-height: 44px;
    text-align: right;
    vertical-align: middle;
    font-size: 16px;
    color: #666;
    display: block;
    border-bottom: 1px solid #eaeaea;
    padding-right: 25px;
    text-decoration: none;
    background: url(../img/leftmenubg.png) no-repeat left bottom #fff
}

.gsjs li a:hover,
.gsjs li a:active,
.gsjs li a.active {
    color: #005daa;
    background-color: #fff
}

.gsjs li.cur a,
.gsjs li a.active {
    color: #005daa;
    font-weight: bold;
    border-bottom: 1px solid #005daa;
    border-right: 5px solid #005daa;
    padding-right: 20px;
    background: url(../img/leftmenubg_active.png) no-repeat left bottom #fff
}

#ProductDetails .article,
#company .article {
    float: left;
    margin-left: 296px
}

.article {
    background-color: #fff
}

div.single-page .article h1 {
    font-size: 24px;
    padding: 10px 0 30px 0
}

div.single-page .article h1:not(:first-child) {
    padding: 40px 0 30px 0
}

.article p {
    font-size: 14px;
    text-indent: 28px;
    line-height: 1.6;
    margin-bottom: 1em
}

.article h2 {
    font-size: 18px;
    text-indent: 28px;
    line-height: 1.2;
    margin-bottom: 1em
}

#caceer .article p {
    text-indent: 0
}

#caceer .article h1 {
    padding: 40px 0 20px 0
}

#partner .article {
    padding-bottom: 20px
}

#partner .article h1 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    color: #999;
    font-size: 18px
}

.partnerlist {
    font-size: 0
}

.partnerlist li {
    display: inline-block
}

.partnerlist li a {
    font-size: 12px
}

#calculator .inputbar input {
    width: 159px
}

.article p.imgrow {
    text-indent: 0
}

.article p.imgrow img {
    width: 100%;
    height: auto
}

.anchorwrap {
    position: relative;
    font-size: 0;
    line-height: 0
}

.anchorwrap>div {
    position: absolute;
    top: -88px
}